/* variable for the theme*/
:root {
    --border: #824d07;
    --highlight: #c09516;
    --text: #ffffff;
    --background: #082233;
}

/* styles the whole page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}

/*  page backround color */
html {
    background-color: #3a3f42;
}

/* title and nav styling */
header {
    text-align: center;
    padding: 20px;
    border-bottom: solid;
    border-color: var(--border);
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    padding-top: 10px;
}

nav ul li {
    font-size: 20px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

/* styling for About Me and Work sections */
section {
    margin: 20px 20% 20px 20%;
    background-color: var(--background);
    border-radius: 20px;
}

/* section title and footer styling */
h2 {
    color: var(--text);
    text-align: center;
    padding-top: 10px;
    margin: 20px;
}

/* Styling for main avatar */
.me {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border-style: solid;
    border-color: var(--border);
    width: 50%;
    height: auto;
    box-shadow: 0 0 40px var(--border);
    border-radius: 40px;
}

p {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

/* styling for main card */
.challenge1 {
    display: block;
    margin: auto;
    padding: 20% 0 20% 0;
    width: 95%;
    height: auto;
    background-size: cover;
    text-align: center;
    font-size: 125%;
    border-style: solid;
    border-color: var(--border);
    border-radius: 40px;
    background-image: url(challenge-1.png);
}

/* hover effect on main card */
.challenge1:hover {
    box-shadow: 0 0 30px var(--border);
}

/* grid for secondary cards */
.grid-container {
    display: grid;
    grid-gap: 20px;
    padding: 10px;
    margin: 10px;
}

.grid-container a {
    background-size: cover;
    text-align: center;
    padding: 20px 0;
    font-size: 125%;
    border-style: solid;
    border-color: var(--border);
    border-radius: 20px;
}

/* hover effect on secondary cards */
.grid-container a:hover {
    box-shadow: 0 0 30px var(--border);
}

/* secondary card images */
.coming-soon {
    background-image: url(kubo.jpg);
}

/* footer styling */
footer {
    text-align: center;
    padding: 0 20px 20px 20px;
    border-top: solid;
    border-color: var(--border);
    margin-left: 20%;
    margin-right: 20%;
}

/* media queries for screen size */
@media (min-width: 320px) {
    .grid-container {grid-template-columns: repeat(1, 1fr);}
    h2 {
        font-size: 30px;
    }
    h1 {
        font-size: 38px;
    }
}

@media (min-width: 768px) {
    .grid-container {grid-template-columns: repeat(2, 1fr);}
    h2 {
        font-size: 40px;
    }
    h1 {
        font-size: 60px;
    }
}

@media (min-width: 1200px) {
    .grid-container {grid-template-columns: repeat(4, 1fr);}
    h2 {
        font-size: 60px;
    }
    h1 {
        font-size: 80px;
    }
}
